<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Cliente</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="min-h-screen bg-gradient-to-br from-blue-100 via-blue-200 to-blue-300 text-gray-800 flex items-center justify-center p-10">

<div class="w-full max-w-3xl mx-auto bg-white/90 backdrop-blur-sm rounded-2xl shadow-xl p-10">
    <h2 class="text-3xl font-extrabold mb-8 text-center text-black">REGISTRAR CLIENTE</h2>
    <form th:action="@{/guardarCliente}" method="post" th:object="${cliente}" class="space-y-6">

        <div>
            <label class="block text-sm font-medium mb-2 text-gray-700">Cédula</label>
            <input th:field="*{cedula}" class="w-full bg-blue-50 text-gray-800 border rounded-lg p-3" required />
        </div>
        <div>
            <label class="block text-sm font-medium mb-2 text-gray-700">Nombre</label>
            <input th:field="*{nombre}" class="w-full bg-blue-50 text-gray-800 border rounded-lg p-3" required />
        </div>
        <div>
            <label class="block text-sm font-medium mb-2 text-gray-700">Apellido</label>
            <input th:field="*{apellido}" class="w-full bg-blue-50 text-gray-800 border rounded-lg p-3" required />
        </div>
        <div>
            <label class="block text-sm font-medium mb-2 text-gray-700">Dirección</label>
            <input th:field="*{direccion}" class="w-full bg-blue-50 text-gray-800 border rounded-lg p-3" required />
        </div>
        <div>
            <label class="block text-sm font-medium mb-2 text-gray-700">Fecha de Nacimiento</label>
            <input type="date" th:field="*{fechaNacimiento}" class="w-full bg-blue-50 text-gray-800 border rounded-lg p-3" required />
        </div>

        <button type="submit" class="w-48 mx-auto block bg-black hover:bg-blue-800 text-white p-3 rounded-lg">
            REGISTRAR
        </button>
    </form>
</div>

</body>
</html>
