<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Lista de Productos</title>
</head>
<body>
<h1>Lista de Productos</h1>

<table >
    <thead>
    <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Proveedor</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${productos}">
        <td th:text="${product.codigo}"></td>

        <td th:text="${product.nombre}"></td>
        <td th:text="${product.precioUnitario}"></td>
        <td th:text="${product.proveedor}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
